#show-undone-task {
  display: none;
}

.undoneTask {
  cursor: pointer;
  color: #0088cc;
}

.undoneTask:hover {
  text-decoration: underline;
}

#show-done-task {
  display: none;
}

.doneTask {
  cursor: pointer;
  color: #0088cc;
  text-decoration: line-through;
}
